@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 400;
}

#home {
  background-image: url(images/top-banner.png);
  background-repeat: no-repeat;
  position: relative;
}

.menu {
  position: absolute;
  right: 50%;
  transform: translateX(50%);
  padding-top: 20px;
  position: fixed;
}

.menu ul li {
  display: inline-block;
}

.menu ul li a {
  text-decoration: none;
  color: #e67e22;
  font-size: 20px;
  padding: 6px;
  border-radius: 10px;
}

.section {
  /* height: auto; */
  display: flex;
}

.section h2 {
  font-size: 50px;
}

.section h3 {
  font-size: 42px;
  padding-bottom: 24px;
}

.section h4 {
  font-size: 20px;
  font-weight: 700;
  color: #e67e22;
}

.section p {
  color: dimgray;
  padding: 20px 0;
  margin-bottom: 26px;
}

.section span {
  color: #e67e22;
}

.half-width {
  width: 40%;
  float: left;
  margin: 46px 0;
  margin-left: 6%;
  padding-left: 2%;
}

.profile {
  width: 100%;
}

.profile img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
}

.btn {
  text-decoration: none;
  color: #fff;
  background: linear-gradient(to right, #f12711, #f4791f);
  font-size: 24px;
  padding: 10px 20px;
  border-radius: 10px;
}

#dream {
  background-image: url(images/dream-bg.png);
  background-repeat: no-repeat ;
  background-position: right;
}

#experience {
  display: inline-block;
  background-image: url(images/exp-bg.png);
  background-repeat: no-repeat;
  background-position: left;
}

.web-dev, .baby-dev {
  box-shadow: 10px 10px 40px gray;
  height: 500px;
  padding: 20px;
  border-radius: 10px;
}

.web-dev {
  border-left: 8px solid;
  border-image: linear-gradient(#009fff, #ec2f4b);
  border-image-slice: 1;
}

.baby-dev {
  border-left: 8px solid;
  border-image: linear-gradient(#f4791f,#005aa7);
  border-image-slice: 1;
}

#footer {
  text-align: center;
  color: dimgray;
  margin: 80px 0 20px;
}
